* {
    -color1: white;
    -color2: #6B61CB;
    -color3: #4d4d4d;
    -color4: derive(#03fc90, 50%);
    -color5: #ff9900;
}
.body {
    -fx-background-color: linear-gradient(to left, #4776e6, #8e54e9);
}
.panel1 {
    -fx-background-color: -color2;
}
.label {
    -fx-text-fill: -color1;
}
.input {
    -fx-text-fill: -color1;
    -fx-prompt-text-fill: derive(-color3, 90%);
}
.chatTitle {
    -fx-background-color: -color3;
}
.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: -color3;
}
.separatorlight *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: white;
}
.error {
    -fx-text-fill: red;
}
.button, .labelfor {
    -fx-cursor: hand;
}
.scroll-pane > .viewport  { -fx-background-color: white; }
.panel1 > .viewport  { -fx-background-color: -color2; }
.button1 {
    -fx-background-color: #8fffbf;
}
.button:hover {
    -fx-background-color: #fcb103;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button:pressed {
     -fx-scale-y: 0.9;
     -fx-scale-x: 0.9;
 }
.textFlow{
     -fx-background-color: linear-gradient(to left, derive(-color2, 50%), derive(-color4, 30%));
     -fx-background-insets: -5 -10 -5 -5;
     -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.08),2,1.0,0.5,0.5);
     -fx-shape: "M 94.658379,129.18587 H 46.277427 c -3.545458,0.23354 -5.32763,-1.59167 -5.14193,-4.67449
     v -19.39913 c 0.405797,-3.73565 2.470637,-4.56641 5.14193,-4.90821 h 43.706464 c 2.572701,0.2361 4.604321,
     1.68288 4.674488,4.90821 v 19.39913 c 0.436089,3.14572 2.890695,3.57304 4.908212,4.67449 z";
}
.textFlowFlipped{
     -fx-background-color: linear-gradient(to left, #4776e6, #8e54e9);
     -fx-background-insets: -5 -5 -5 -10;
     -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.08),2,1.0,-0.5,-0.5);
     -fx-shape: "m 46.030545,129.18592 h 48.380952 c 3.54546,0.23355 5.32763,-1.59167 5.14193,-4.67449
     V 105.1123 c -0.4058,-3.73565 -2.47064,-4.56641 -5.14193,-4.90821 H 50.705033
     c -2.572701,0.2361 -4.604321,1.68288 -4.674488,4.90821 v 19.39913
     c -0.436089,3.14572 -2.890695,3.57304 -4.908212,4.67449 z";
}
.hbox{
//    -fx-background-insets: 15;
    -fx-padding: 12px;
}
.tempFlow{
    -fx-padding: 5 15 5 5;
}
.tempFlowFlipped{
    -fx-padding: 5 5 5 15;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -color4;
    -fx-background-radius: 5em;
}
.menu-item:focused {
    -fx-background-color: -color5;
}
.menu-item .label {
    -fx-text-fill: black;
}
.contact:hover {
    -fx-background-color: derive(-color5, -20%);
}
.contactActive {
    -fx-background-color: derive(-color4, -40%);
}
.contactActive:hover {
    -fx-background-color: derive(-color4, -40%);
}