* {
    -color1: white;
    -color2: #6B61CB;
    -color3: #707070;
}

.body {
    -fx-background-color: -color2;
}

.panel1 {
    -fx-background-color: -color2;
}

.label {
    -fx-text-fill: -color1;
}

.input {
    -fx-text-fill: -color1;
    -fx-prompt-text-fill: derive(-color3, 90%);
}

.chatTitle {
    -fx-background-color: -color3;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: -color3;
}

.separatorlight *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.error {
    -fx-text-fill: red;
}

.button, .labelfor {
    -fx-cursor: hand;
}
.button1 {
    -fx-background-color: #8fffbf;
}

.button:hover {
    -fx-background-color: #fcb103;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button:pressed {
     -fx-scale-y: 0.9;
     -fx-scale-x: 0.9;
 }